fastapi
uvicorn[standard]
requests
python-dotenv
ffmpeg-python
jinja2             # (HTML 템플릿용 추가)
python-multipart   # (파일 업로드 폼 데이터 처리용 추가)
# pip install git+https://github.com/m-bain/whisperX.git
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu128